body {
    font-family: ;
}

table {
    border-radius: 10px;
    margin: auto;
    border:5px ridge white;
    width: 50%;
    box-shadow: rgb(8, 46, 116);
}

.red {
    color: rgb(170, 10, 10);
}

thead {
    width: 30px;
    text-align: left;
    font-size: smaller;
    background-color: cornflowerblue;
}

td {
    background-color: ;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

th {
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

img {
    width: 100px;
    height: 70px;
    border-radius: 5px;

}

td:last-child {
    background-color: silver;
}